// Colors
$dark-navy: #434575;
$navy: #011580;
$sky: #edf2f6;
$cream: #ebe9e6;
$cyan: #009cc9;
$white: #ffffff;

// Fonts

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;

// Breakpoints

$xxs: 0;
$xs: 375px;
$sm: 640px;
$md: 768px;
$lg: 960px;
$xl: 1440px;
$xxl: 1920px;
