@use "sass:math";

@import "variables";
@import "functions";
@import "mixins";

// Squarespace Overrides

.Index-page-content:has(
        section#hero,
        section#tour,
        section#benefits,
        section#features-section-1,
        section#features-section-2,
        section#specs,
        section#conclusion,
        section#contact
    ) {
    max-width: none;
    padding: 0;

    .sqs-block {
        width: 100%;
        padding: 0 !important;
    }

    .sqs-layout > .sqs-row {
        margin: 0;
    }
}

:root {
    --header-height: 67px;

    @media (min-width: 1080px) {
        --header-height: 125px;
    }
}

html {
    scroll-behavior: auto;
}

html,
body {
    scroll-padding-top: var(--header-height);
    height: 100%;
    margin: 0;
    font-family: "proxima-soft", sans-serif;
    color: $dark-navy;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    margin: 0 0 0.166em;
    text-wrap: balance;
    font-weight: $font-weight-semibold;
    font-size: clampValues(36, 60, $sm, $xl);
    line-height: 1;
    color: $navy;
}

h2 {
    margin: 0 0 0.333em;
    text-wrap: balance;
    font-weight: $font-weight-semibold;
    font-size: clampValues(24, 30, $sm, $xl);
    line-height: 1;
    color: $navy;
}

p {
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.font-weight-light {
    font-weight: $font-weight-light;
}

.font-weight-regular {
    font-weight: $font-weight-regular;
}

.font-weight-medium {
    font-weight: $font-weight-medium;
}

.font-weight-semibold {
    font-weight: $font-weight-semibold;
}

.color-dark-navy {
    color: $dark-navy;
}

.color-navy {
    color: $navy;
}

.color-sky {
    color: $sky;
}

.color-cream {
    color: $cream;
}

.color-cyan {
    color: $cyan;
}

.color-white {
    color: $white;
}

.align-center {
    text-align: center;
}

.btn-primary {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 100px;
    background-color: $navy;
    color: $white;
    font-size: clampValues(16, 19, $sm, $xl);
    font-weight: $font-weight-semibold;
    text-decoration: none;
    text-align: center;
}

.btn-link {
    display: inline-block;
    color: $navy;
    font-size: clampValues(16, 19, $sm, $xl);
    font-weight: $font-weight-semibold;
    text-decoration: none;
    text-align: center;
}

.icon-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 360px;
    margin: 0 auto;
    font-size: clampValues(18, 22, $sm, $xl);
    color: $dark-navy;

    .icon {
        width: 50px;
        height: 50px;
    }

    h2 {
        margin-bottom: 0;
    }
}

.content-grid {
    display: flex;
    flex-direction: column;

    .content-grid-column {
        padding: clampValues(40, 60, $sm, $md);
        border-bottom: 1px solid $cream;
    }

    @include md {
        flex-flow: row wrap;
        justify-content: space-around;
        gap: clampValues(30, 60, $md, $xl) 0;

        .content-grid-column {
            width: 33.33%;
            padding: clampValues(20, 60, $md, $xl);
            border-left: 1px solid $cream;
            border-bottom: none;

            &:nth-child(3n + 1) {
                border-left: none;
            }
        }
    }
}

header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

main {
    overflow: hidden;
}

section {
    position: relative;
    z-index: 3;
    background-color: white;
}

section.section-margin {
    margin-top: clampValues(60, 120, $sm, $xl);
    margin-bottom: clampValues(60, 120, $sm, $xl);
}

section.section-margin-top {
    margin-top: clampValues(60, 120, $sm, $xl);
}

section.section-margin-bottom {
    margin-bottom: clampValues(60, 120, $sm, $xl);
}

section.section-padding {
    padding-top: clampValues(60, 120, $sm, $xl);
    padding-bottom: clampValues(60, 120, $sm, $xl);
}

section.section-padding-top {
    padding-top: clampValues(60, 120, $sm, $xl);
}

section.section-padding-bottom {
    padding-bottom: clampValues(60, 120, $sm, $xl);
}

.container {
    position: relative;
    max-width: 1920px;
    padding: 0 20px;
    margin: 0 auto;

    @include sm {
        padding: 0 36px;
    }

    @include md {
        padding: 0 48px;
    }

    @include sm {
        padding: 0 64px;
    }
}

section.hero {
    position: relative;
    z-index: 1;
    left: 0;
    top: var(--header-height);
    width: 100%;

    .hero-spacer {
        position: relative;
        height: 200vh;
    }

    .hero-fixed {
        position: fixed;
        left: 0;
        top: var(--header-height);
        width: 100%;
        height: calc(100vh - var(--header-height));
    }

    .mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100vh - var(--header-height));
        overflow: hidden;
        border-radius: 20px;
        background-color: $cream;
    }

    video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content {
        position: absolute;
        left: 5%;
        bottom: 5%;
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 20px;
        padding: clampValues(20, 80, $sm, $xl);

        @include md {
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    .hero-heading {
        text-wrap: balance;

        p {
            margin: 0;
            font-size: clampValues(36, 48, $sm, $xl);
            font-weight: $font-weight-light;
            line-height: 1;
        }

        h1 {
            margin: 0 0 clampValues(10, 24, $sm, $xl);
            font-size: clampValues(60, 120, $sm, $xl);
        }

        h2 {
            max-width: 1000px;
            margin: 1rem 0 0;
            font-size: clampValues(24, 38, $sm, $xl);
            font-weight: $font-weight-light;
        }
    }

    .hero-card {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: clampValues(20, 30, $sm, $xl);
        width: 50%;
        min-width: 360px;
        max-width: 440px;
        padding: clampValues(20, 40, $sm, $xl) clampValues(30, 50, $sm, $xl);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.35);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
        backdrop-filter: blur(20px) saturate(2);

        .dimensions {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            img {
                width: clampValues(70, 100, $sm, $xl);
                height: auto;
            }

            p {
                margin: 0;
                font-size: clampValues(16, 20, $sm, $xl);
                font-weight: $font-weight-regular;
            }

            a {
                text-decoration: underline;
                font-weight: $font-weight-semibold;

                &:active {
                    color: $navy;
                }
            }
        }

        .btn-primary,
        .btn-link {
            width: 100%;
        }
    }
}

section.tour {
    position: relative;
    z-index: 2;
    height: 1000vh;

    video {
        position: relative;
        width: 100%;
        height: calc(100vh - var(--header-height));
        object-fit: cover;
    }

    .time {
        position: absolute;
        z-index: 10;
        top: 20px;
        right: 20px;
        font-family: monospace;
        font-weight: 700;
        color: #000;
    }

    .content {
        position: absolute;
        inset: 0;
    }

    .card {
        position: absolute;
        left: 6%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        min-width: 340px;
        max-width: 440px;
        padding: clampValues(20, 30, $sm, $xl) clampValues(30, 40, $sm, $xl);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.35);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
        backdrop-filter: blur(20px) saturate(2);
        opacity: 0;
        overflow: hidden;

        &.exterior {
            max-width: 500px;
        }

        &.interior-1 {
            max-width: 480px;
        }

        h2 {
            margin: 0;
            text-wrap: pretty;
        }
    }

    .nav {
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6px 6px;
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0.35);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
        backdrop-filter: blur(20px) saturate(2);

        a,
        button {
            cursor: pointer;
            position: relative;
            padding: 8px 16px;
            border-radius: 20px;
            border: 1px solid rgba(1, 21, 128, 0.2);
            background-color: $white;
            text-decoration: none;
            text-align: center;
            font-family: "proxima-soft", sans-serif;
            font-size: clampValues(16, 18, $sm, $xl);
            font-weight: $font-weight-semibold;
            line-height: 20px;
            color: $navy;
            transition: background-color 0.35s, color 0.35s, box-shadow 0.35s;

            &:hover,
            &:focus-visible {
                outline: none;
                box-shadow: 0 0 0 4px transparentize($cyan, 0.75);
            }

            &:active {
                background-color: $cyan;
                color: $white;
            }

            &[disabled] {
                color: lighten($dark-navy, 40%);

                &:hover {
                    box-shadow: none;
                }

                &:active {
                    background-color: $white;
                    color: lighten($dark-navy, 40%);
                }
            }
        }

        .links {
            display: flex;

            button:first-child {
                padding-left: 20px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            button:last-child {
                padding-right: 20px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        .label {
            min-width: 100px;
            padding: 8px 20px;
            border-top: 1px solid rgba(1, 21, 128, 0.2);
            border-bottom: 1px solid rgba(1, 21, 128, 0.2);
            background-color: $white;
            text-align: center;
            font-family: "proxima-soft", sans-serif;
            font-size: clampValues(16, 18, $sm, $xl);
            font-weight: $font-weight-medium;
            line-height: 20px;
        }
    }
}

section.features {
    position: relative;

    .panel {
        height: 100vh;
        pointer-events: none;
    }

    h2 {
        cursor: pointer;
    }

    p {
        margin: 0;
        font-size: clampValues(18, 22, $sm, $xl);
    }

    .features-pin {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .features-wrap {
        position: relative;
        top: calc(vw(125px) + 40px);
        display: flex;
        width: 100%;
        height: calc(100vh - vw(125px) - 80px);
        background-color: $sky;
        border: 1px solid transparentize($navy, 0.9);
        border-radius: 10px;
        overflow: hidden;
    }

    .features-content {
        position: relative;
        width: 33.33%;
        padding-top: vwmin(100px);
        padding-left: vwmin(140px);
        padding-right: vwmin(40px);

        &::before {
            content: "";
            position: absolute;
            left: vwmin(100px);
            top: 0;
            width: 1px;
            height: 100%;
            background: transparentize($navy, 0.9);
        }

        .progress {
            transform-origin: 0 0;
            position: absolute;
            left: vwmin(100px);
            top: vw(100px);
            width: 4px;
            height: 100px;
            background-color: $cyan;
        }

        .heading {
            margin-bottom: vwmin(60px);
        }

        .benefit {
            margin-bottom: vwmin(30px);

            h2 {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 0;

                img {
                    display: block;
                    width: 30px;
                    height: 30px;
                }
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: vwmin(22px);
                line-height: 1.2;
                overflow: hidden;
            }

            li {
                display: flex;
                align-items: flex-start;
                gap: 20px;
                padding-bottom: vwmin(30px);

                &::before {
                    content: "";
                    flex-shrink: 0;
                    display: block;
                    width: 30px;
                    height: 30px;
                    margin-top: -2px;
                    background: url("https://simple-creature-website-assets.s3.amazonaws.com/mamava/icon-checkmark.svg") 50% 50%
                        no-repeat;
                }

                &:first-child {
                    padding-top: 20px;
                }

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }

    .features-media {
        width: 66.67%;
        padding-top: vwmin(100px);
    }

    .media-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        overflow: hidden;

        img,
        video {
            transform-origin: 50% 0;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
}

section.specs {
    background: $sky url("https://simple-creature-website-assets.s3.amazonaws.com/mamava/blueprint.png") 50% 50% no-repeat;
    background-size: cover;

    .card {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        gap: clampValues(20, 40, $sm, $xl);
        padding: clampValues(20, 40, $sm, $xl);
        border-radius: 10px;
        background-color: $white;
    }

    ul {
        max-width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        padding: clampValues(10, 15, $sm, $xl) 0;
        border-bottom: 1px solid $cream;
        font-size: clampValues(16, 18, $sm, $xl);

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    .swiper.cards {
        overflow: visible;

        .swiper-slide {
            opacity: 0.25;
            filter: blur(6px);
            transition: opacity 1s, filter 0.5s, transform 0.5s;

            &.swiper-slide-active {
                z-index: 1;
                opacity: 1;
                filter: none;
            }
        }
    }

    .swiper.nav {
        margin: clampValues(20, 40, $sm, $xl) 0;
        overflow: visible;

        .swiper-slide {
            width: auto;

            button {
                cursor: pointer;
                min-width: clampValues(120, 200, $md, $xl);
                padding: 10px 20px;
                border-radius: 20px;
                border: 1px solid rgba(1, 21, 128, 0.2);
                background-color: $white;
                font-family: "proxima-soft", sans-serif;
                font-size: clampValues(16, 20, $sm, $xl);
                line-height: 20px;
                font-weight: $font-weight-semibold;
                color: $navy;
                transition: background-color 0.35s, color 0.35s, box-shadow 0.35s;

                &:hover,
                &:focus-visible {
                    outline: none;
                    box-shadow: 0 0 0 4px transparentize($cyan, 0.75);
                }

                &.active {
                    background-color: $cyan;
                    color: $white;
                }
            }
        }
    }

    @include md {
        .card {
            width: 80%;
            flex-direction: row;
            align-items: flex-start;

            ul {
                margin: 10px 0;
            }

            img {
                display: block;
                width: 33%;
                height: auto;
            }

            &.dimensions {
                width: 100%;

                ul {
                    width: 33%;
                }
            }

            &.interior {
                width: 100%;

                ul {
                    width: 50%;
                }
            }
        }
    }

    @include lg {
        .card {
            width: 70%;
            min-height: 35vw;
        }
    }
}

section.contact {
    .contact-grid {
        display: flex;
        flex-direction: column;
        background-color: $sky;
        border-radius: 10px;
        border: 1px solid transparentize($navy, 0.9);
        overflow: hidden;
    }

    .contact-content {
        background-color: $white;
        text-wrap: pretty;

        img {
            display: block;
            aspect-ratio: 1.4;
            object-fit: cover;
            object-position: 50% 30%;
        }
    }

    .contact-heading {
        position: relative;
        z-index: 1;
        margin-bottom: -100px;
        padding: clampValues(30, 80, $sm, $xl);
        padding-bottom: 100px;
        font-size: clampValues(18, 22, $sm, $xl);
        background: linear-gradient(
                to bottom,
                hsl(0, 0%, 100%) 0%,
                hsla(0, 0%, 100%, 0.987) 8.1%,
                hsla(0, 0%, 100%, 0.951) 15.5%,
                hsla(0, 0%, 100%, 0.896) 22.5%,
                hsla(0, 0%, 100%, 0.825) 29%,
                hsla(0, 0%, 100%, 0.741) 35.3%,
                hsla(0, 0%, 100%, 0.648) 41.2%,
                hsla(0, 0%, 100%, 0.55) 47.1%,
                hsla(0, 0%, 100%, 0.45) 52.9%,
                hsla(0, 0%, 100%, 0.352) 58.8%,
                hsla(0, 0%, 100%, 0.259) 64.7%,
                hsla(0, 0%, 100%, 0.175) 71%,
                hsla(0, 0%, 100%, 0.104) 77.5%,
                hsla(0, 0%, 100%, 0.049) 84.5%,
                hsla(0, 0%, 100%, 0.013) 91.9%,
                hsla(0, 0%, 100%, 0) 100%
            )
            0 100% no-repeat;
        background-size: 100% 100px;
    }

    .contact-form {
        padding: clampValues(30, 80, $sm, $xl);
    }

    @include lg {
        .contact-grid {
            flex-direction: row;
        }

        .contact-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 50%;

            img {
                aspect-ratio: auto;
                flex-grow: 1;
            }
        }

        .contact-heading {
            margin-bottom: -160px;
            padding-bottom: 160px;
            background-size: 100% 160px;
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }
    }
}

.hbspt-form .hs-form {
    max-width: 600px !important;
    margin: 0 auto !important;

    fieldset {
        max-width: none !important;
        margin: 0 !important;
    }

    .form-columns-2 {
        display: flex;
        gap: 20px;

        .field {
            float: none !important;
            width: 50% !important;
        }
    }

    .field {
        margin-bottom: 24px;
    }

    .input,
    .hs-input {
        width: 100% !important;
        margin-right: 0 !important;
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: $font-weight-medium;
        font-size: clampValues(16, 18, $sm, $xl);
        color: $navy;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        appearance: none;
        width: 100%;
        padding: 10px 15px;
        border-radius: 6px;
        border: 1px solid transparentize($navy, 0.8);
        box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.05);
        font-family: sans-serif;
        font-size: clampValues(16, 18, $sm, $xl);
        line-height: 30px;
        color: $dark-navy;
    }

    textarea {
        min-height: 120px !important;
    }

    select {
        appearance: none;
        width: 100%;
        padding: 10px 40px 10px 15px;
        border-radius: 6px;
        border: 1px solid transparentize($navy, 0.8);
        box-shadow: inset -2px -4px 4px rgba(0, 0, 0, 0.05);
        background: $white url("https://simple-creature-website-assets.s3.amazonaws.com/mamava/caret.svg") calc(100% - 15px) 50%
            no-repeat;
        background-size: 10px auto;
        font-size: clampValues(16, 18, $sm, $xl);
        line-height: 30px;
        color: $dark-navy;
    }

    input.hs-button.primary.large {
        display: inline-block;
        width: auto;
        min-width: 240px;
        margin: 0;
        padding: 20px 40px;
        border-radius: 100px;
        background-color: $navy;
        color: $white;
        font-family: "proxima-soft", sans-serif;
        font-size: clampValues(16, 19, $sm, $xl);
        font-weight: $font-weight-medium;
        text-decoration: none;
        text-align: center;
    }

    .hs-error-msgs {
        margin: 4px;
        padding: 0;
        list-style-type: none;
    }

    .hs-error-msg {
        text-wrap: pretty;
        font-size: 16px;
        line-height: 1.2;
        color: $red;
    }

    .submitted-message {
        max-width: 480px;
        text-wrap: pretty;
        font-size: clampValues(18, 24, $sm, $xl);

        p:first-child {
            font-size: clampValues(24, 30, $sm, $xl);
            line-height: 1;
            color: $navy;
        }
    }
}

footer {
    position: relative;
    z-index: 3;
    padding-top: 60px;
    background-color: white;
}
